/**
*
* Author: Roman Machala (xmacha86)
* Date: 12.02.2025
*
* Contains style definition for analysis section for AudioEval tool
*
*/
.analysis-section {
    height: 100%;
    width: 100%;
    display: none;
}
.analysis-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 90%;
    overflow: auto;
    margin-top: 10%;
}
.analysis-section h2 {
    margin-bottom: 20px;
    font-size: 30pt;
}

.graphs-section {
    width: 80%;
}

.metric-section-header {
    cursor: pointer;
    padding: 10px;
    background: #F4F6FF;
    text-align: center;
}

.metric-section-header:hover {
    background: #E4E0E1;
}
.metric-section-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.metric-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.metric-table thead {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}
.metric-table th, .metric-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}
.metric-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.metric-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
.metric-table thead th:first-child {
    border-top-left-radius: 8px;
}
.metric-table thead th:last-child {
    border-top-right-radius: 8px;
}
@media (max-width: 768px) {
    .metric-table {
        font-size: 14px;
    }

    .metric-table th, .metric-table td {
        padding: 10px;
    }
}
#Mos-section .tables-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.tables-container p {
    padding: 5%;
}
.mos-table-wrapper .tables-container p {
    padding: 5%;
}

#samples-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#samples-section div{
    width: 80%;
    border-bottom: #E4E0E1 solid 0.5px;
}

#samples-section div h3{
    padding: 2.5%;
}

#samples-section div div{
    width: 100%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}
.analysis-back {
    position: fixed;
    top: 2%;
    left: 2%;
}
.analysis-back button {
    background-color: white;
    border: solid 2px #e7e7e7;
    padding: 2.5%;
    border-radius: 10px;
}

.analysis-back button:hover{
    background-color: #e7e7e7;
}